{% extends "base.html" %}
{% block title %} Dykiz Home {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Interface de management WEB
			</h3>
			<h3>
				Boutique Dykiz<br>
			</h3>
			<ul>
				<li class="list-item">
					Qui sommes-nous ?
				</li>
			</ul>
			<p>
				Nous sommes une association fondée en 2017,
				<br>nos domaines d'activité sont les suivants :
				<li class="list-item">
					Jeux vidéos
				</li>
				<li class="list-item">
					Vente de produits
				</li>
			</p>
		</div>
	</div>
</div>
{% endblock %}
